<br>
<h1>Data Enginering Project</h1>
<br>
<br>
<head>
<link rel="stylesheet"  type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<form>
  <input type="text" id="inputdata">
  <label for="inputdata">Input Here</label>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>

<script>
$('input[type="text"]').blur(function() {
 if ($(this).val() !== "") {
   $(this).next('label').addClass('showLabel');
   $(this).addClass('hasInput');
 } else {
   $(this).next('label').removeClass('showLabel');
 }
});
</script>